
{% extends 'base.html' %}
{% block title %}Adicionar PDI{% endblock %}
{% block content %}

    <div id="content">
        <h2>Adicionar PDI para {{ estudante.nome }}</h2>
        <form id="pdi-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="margin-3">
            <button type="submit" class="button info" >Salvar</button>
            <a href="{% url 'pdi_list' student_id=estudante.id %}" class="button danger">Cancelar</a>
            </div>
        </form>


    </div>
{% endblock %}



