{% extends 'base.html' %}
{% block title %}Painel de Desenvolvimento{% endblock %}
{% block content %}

<div id="content" class="p-5">
    <h2>Painel de Desenvolvimento {{ estudante.nome }}</h2>

    <div class="row"> 
        <div class="col">
            <!-- Card com Total de PDIs em Aberto e Concluídos -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Total de PDIs</h5>
                    <p class="card-text">Abertos: {{ total_pdis_abertos.count }}</p>
                    <p class="card-text">Concluídos: {{ total_pdis_concluidos.count }}</p>
                </div>
            </div>
        </div>

        <div class="col">
            <!-- Card Destaque com Média Geral -->
            <div class="card mb-4" style="width: fit-content;">
                <div class="card-body">
                    <h5 class="card-title">Média Geral</h5>
                    <p class="card-text">{{ media_geral }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <hr>
    
    <!-- Cards de Média por Habilidade -->
    <div class="row mb-4 mt-4">
        {% for habilidade, media in media_habilidades.items %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ habilidade }}</h5>
                        <p class="card-text">Média: {{ media }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <hr> 

    <!-- Cards de Média por Competencia -->
    <!-- <div class="row mb-4 mt-4">
        {% for competencia, media in media_competencias.items %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ competencia }}</h5>
                        <p class="card-text">Média: {{ media }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> -->
     <!-- Gráfico de Médias por Competência -->
     <canvas id="competencias-chart" width="800" height="400"></canvas>
    
    <hr> 

    <!-- Gráfico de Notas de Avaliação -->
    <canvas id="bar-chart" width="800" height="400"></canvas>

   

    <!-- Inclua o Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Elemento para armazenar os dados das avaliações dos PDIs -->
    <div id="chart-data" data-avaliacoes="{{ avaliacoes_json }}"></div>

    <!-- Elemento para armazenar os dados das médias das competências -->
    <div id="competencias-data" data-medias="{{ media_competencias_json }}"></div>

    <!-- Script JavaScript para renderizar os gráficos -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Gráfico de Notas de Avaliação
            var ctx = document.getElementById('bar-chart').getContext('2d');
            var chartDataElement = document.getElementById('chart-data');
            var avaliacoesJSON = chartDataElement.getAttribute('data-avaliacoes');
            var avaliacoes = JSON.parse(avaliacoesJSON);
    
            var labels = [];
            var data = [];
    
            avaliacoes.forEach(function(avaliacao) {
                labels.push(avaliacao.pdi_titulo);
                data.push(avaliacao.nota);
            });
    
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Notas de Avaliação',
                        data: data,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            // Gráfico de Médias por Competência
            var competenciasCtx = document.getElementById('competencias-chart').getContext('2d');
            var competenciasElement = document.getElementById('competencias-data');
            var medias = JSON.parse(competenciasElement.getAttribute('data-medias'));

            // Competências predefinidas
            var competencias = [
                "Empatia e cooperação",
                "Autoconhecimento e autocuidado",
                "Autonomia",
                "Autogestão",
                "Reconhecimento",
                "Cultura digital",
                "Comunicação",
                "Senso estético e repertório cultural",
                "Pensamento científico, crítico e criativo",
                "Conhecimento"
            ];

            // Mapeia as médias das competências predefinidas
            var competenciasData = competencias.map(function(competencia) {
                return medias[competencia] || 0;
            });

            var competenciasChart = new Chart(competenciasCtx, {
                type: 'bar',
                data: {
                    labels: competencias,
                    datasets: [{
                        label: 'Média por Competência',
                        data: competenciasData,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            max: 10  // Supondo que a média máxima seja 10
                        }
                    }
                }
            });
        });
    </script>
</div>

{% endblock %}
