{% extends 'base.html' %}
{% block title %}PDI {{ pdi.titulo }} - para {{ estudante.nome }}{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<style>

    .ia{
        /* border: 1px solid #004A7C; */
        padding: 10px;
        width: fit-content;
       
    }
    
    .elevation{
        box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
    }
</style>

<div id="content" class="p-5">
    <h2>PDI {{ pdi.titulo }} - para {{ estudante.nome }} - {{ pdi.data_inicial }} - {{ pdi.data_final }}</h2>
    <div class="ia d-flex justify-content-center align-items-center">
    <a style="text-decoration: none; color: white" href="http://127.0.0.1:12345/" target=”_blank”>
        <i class="material-icons" style="font-size: 45px; color: #004A7C">account_box</i>
    </a>
    <h6>Assistente IA</h6>
    </div>
    <form id="pdi-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="margin-3">
            <button type="submit" class="button success">Salvar Edição</button>
            <a href="{% url 'pdi_list' student_id=estudante.id %}" class="button" style="text-decoration: none; background-color: grey;">Cancelar Edição</a>
            <a href="{% url 'add_activites' pdi_id=pdi.id %}" class="button info" style="text-decoration: none; background-color: green;">Adicionar Atividade</a>
            <a href="{% url 'add_comentario' pdi_id=pdi.id %}" class="button info" style="text-decoration: none;background-color: orange;">Adicionar Comentário</a>
            <button id="delete-pdi" data-url="{% url 'delete_pdi' pdi.id %}" class ="button" style="background-color: red;">Excluir PDI</button>
            <a href="{% url 'avaliar_pdi' pdi_id=pdi.id %}" class="button success" style="text-decoration: none; background-color: purple;">Avaliar Pdi</a>
        </div>
    </form>
    <hr>
    {% if avaliacoes %}
    <div class="card-container">
        <h3>Avaliação</h3>
        {% for avaliacao in avaliacoes %}
            <div class="card">
                <p>Comentário : {{ avaliacao.comentario }}</p>
                <p>Nota : {{ avaliacao.nota }}</p>            
        {% endfor %}
    </div>
    {% endif %}
    </div>
    <br>
    <div class="card-container">
        <h3>Atividades</h3>
        {% for atividade in atividades %}
            <div class="card">
            <div class="p-5">
                <p>Competência : {{ atividade.competencia }}</p>
                <p>Habilidade : {{ atividade.habilidade }}</p>
                <p>Atividade : {{ atividade.estrategia }}</p>
            </div>
                {% if atividade.nota %}
                    <p>Nota : {{ atividade.nota }}</p>
                {% endif %}
                <a href="{% url 'edit_activites' atividade.id %}" class="btn btn-primary d-inline-block text-center" style="text-decoration: none; width: 100%;">Editar Atividade</a> 
            </div>
            <br>
            <div>
                <button class="btn-danger delete-atividade" data-url="{% url 'delete_atividade' atividade.id %}" data-atividade-id="{{ atividade.id }}">Excluir Atividade</button>
            </div>
            <hr>
        {% endfor %}
    </div>

    {% if arquivo %}
    <div class="card-container">
        <h3>Arquivos anexados ao PDI</h3>
        {% for arquivo in arquivos %}
            <div class="card">
                <p>{{ arquivo.file }}</p>
                
                <a href="{% url 'download_files' arquivo.id %}" button class="button" style="text-decoration: none; ">Baixar</button> </a>
                
                <br>
            </div>
            <hr>
        {% endfor %}
    </div>
    {% endif %}
    <div class="card-container">
        <h3>Comentários</h3>
        {% for comentario in comentarios %}
            <div class="card">
            <div class="p-5">
                <h6>Autor: {{ comentario.autor.user.first_name }}</h6>
                <p>Menssagem : {{ comentario.menssagem }}</p>
                {% if comentario.arquivo %}
                <h6>Arquivo Anexado por {{ comentario.autor.user.first_name }}</h6>
                <p>Arquivo : {{ comentario.arquivo.file }}</p>
                <br>
                <a href="{% url 'download_files' comentario.arquivo.id %}" button class="button info" style="text-decoration: none;">Baixar</button> </a>
                {% endif %}
            </div>
        </div>
            <hr>
        {% endfor %}
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Excluir PDI
        $('#delete-pdi').click(function() {
            if (confirm('Tem certeza de que deseja excluir este PDI?')) {
                $.ajax({
                    type: 'POST',
                    url: $(this).data('url'),
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function(response) {
                        if (response.redirect) {
                            window.location.href = response.redirect;
                        }
                    }
                });
            }
        });

        // Excluir Atividade
        $('.delete-atividade').click(function() {
            var atividadeId = $(this).data('atividade-id');
            if (confirm('Tem certeza de que deseja excluir esta atividade?')) {
                $.ajax({
                    type: 'POST',
                    url: $(this).data('url'),
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function(response) {
                        if (response.redirect) {
                            window.location.href = response.redirect;
                        }
                    }
                });
            }
        });
    });
</script>

{% endblock %}

