{% extends 'base.html' %}
{% block title %}PDI {{ pdi.titulo }} - para {{ estudante.nome }}{% endblock %}
{% block content %}

<div id="content">
    <h2>PDI {{ pdi.titulo }} - para {{ estudante.nome }}</h2>
    <form id="pdi-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="margin-3">
            <button type="submit" class="button success">Salvar Edição</button>
            <a href="{% url 'pdi_list' student_id=estudante.id %}" class="button warning" style="text-decoration: none;">Cancelar Edição</a>
            <a href="{% url 'add_activites' pdi_id=pdi.id %}" class="button info" style="text-decoration: none;">Adicionar Atividade</a>
            <a href="{% url 'add_comentario' pdi_id=pdi.id %}" class="button info" style="text-decoration: none;">Adicionar Comentário</a>
            <button id="delete-pdi" data-url="{% url 'delete_pdi' pdi.id %}" class ="button danger">Excluir PDI</button>
            <a href="{% url 'avaliar_pdi' pdi_id=pdi.id %}" class="button success" style="text-decoration: none;">Avaliar Pdi</a>
        </div>
    </form>
    <hr>
    <div class="card-container">
        {% for atividade in atividades %}
            <div class="card">
                <p>{{ atividade.competencia }}</p>
                <p>{{ atividade.habilidade }}</p>
                <p>{{ atividade.estrategia }}</p>
                {% if atividade.nota %}
                    <p>{{ atividade.nota }}</p>
                {% endif %}
                <a href="{% url 'edit_activites' atividade.id %}" button class="button" style="text-decoration: none;">Editar Atividade</button> </a>
                <button class="delete-atividade button" data-url="{% url 'delete_atividade' atividade.id %}" data-atividade-id="{{ atividade.id }}">Excluir Atividade</button>
            </div>
            <hr>
        {% endfor %}
    </div>

    {% if arquivo.id %}
    <div class="card-container">
        {% for arquivo in arquivos %}
            <div class="card">
                <p>{{ arquivo.file }}</p>
                
                <a href="{% url 'download_files' arquivo.id %}" button class="button" style="text-decoration: none;">Baixar</button> </a>
                
                <br>
            </div>
            <hr>
        {% endfor %}
    </div>
    {% endif %}
    <div class="card-container">
        {% for comentario in comentarios %}
            <div class="card">
                <h3>{{ comentario.autor.user.first_name }}</h3>
                <p>{{ comentario.menssagem }}</p>
                {% if comentario.arquivo %}
                <p>{{ comentario.arquivo.file }}</p>
                <a href="{% url 'download_files' comentario.arquivo.id %}" button class="button" style="text-decoration: none;">Baixar</button> </a>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Excluir PDI
        $('#delete-pdi').click(function() {
            if (confirm('Tem certeza de que deseja excluir este PDI?')) {
                $.ajax({
                    type: 'POST',
                    url: $(this).data('url'),
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function(response) {
                        if (response.redirect) {
                            window.location.href = response.redirect;
                        }
                    }
                });
            }
        });

        // Excluir Atividade
        $('.delete-atividade').click(function() {
            var atividadeId = $(this).data('atividade-id');
            if (confirm('Tem certeza de que deseja excluir esta atividade?')) {
                $.ajax({
                    type: 'POST',
                    url: $(this).data('url'),
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function(response) {
                        if (response.redirect) {
                            window.location.href = response.redirect;
                        }
                    }
                });
            }
        });
    });
</script>

{% endblock %}

