{% extends 'base.html' %}
{% block title %}Estudantes{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Selecione o Estudante</h1>

    <div class="row">
        {% for student in students %}
        <div class="col">
            <div class="card mb-4">
                <a href="{% url 'pdi_list' student.id %}" style="text-decoration: none;">
                    <div class="card-body text-center">
                        <h3 class="card-title">{{ student.nome }}</h3>
                        <p class="card-text">{{ student.escola.nome }}</p>
                        <p class="card-text">{{ student.etapa }}</p>
                        {% for deficiencia in student.dificiencia.all %}
                        <p class="card-text">{{ deficiencia }}</p>
                        {% endfor %}
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if not students %}
    <p class="text-center">Nenhum estudante na base</p>
    {% endif %}
</div>

{% endblock %}

