{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<body>

<div class="login-container">
    <div class="card login-card p-3" style="width: 300px;">
        <h2 class="card-title text-center">Login</h2>
        <div class="text-center"> <!-- Adicionando classe text-center -->
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 ms-5">
                    <input type="text" class="form-control" name="username" placeholder="Usuário" required>
                </div>
                <div class="mb-3 ms-5">
                    <input type="password" class="form-control" name="password" placeholder="Senha" required>
                </div>
                <button type="submit" class="btn btn-primary" value="Login">Login</button>
            </form>
        </div>
    </div>
</div>

</body>
{% endblock %}
