{% extends 'base.html' %}
{% block title %}PDI{% endblock %}
{% block content %}
<body>
    <div class = "row">
    <h1>PDI - {{student.nome}}</h1>
    <a href="{% url 'add_pdi' student.id %}">Criar novo PDI</a>
    </div>
    <ul>
        {% for pdi in pdi_list %}
            <li>{{ pdi.titulo }}</li>
            <li>{{ pdi.data_inicial }}</li>
            <li>{{ pdi.data_final }}</li>
            <li>{{ pdi.descricao }}</li>
            <li>{{ pdi.estudante }}</li>
            <li>{{ pdi.ativo }}</li>
            <li>{{ pdi.concluido }}</li>
            <li>{{ pdi.arquivo }}</li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
