{% extends 'base.html' %}
{% block title %}PDI{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<style>
    /* body{
        background-color: #e5e5f7;
        opacity: 0.8;
        background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
        background-size: 20px 20px;
        background-position: 0 0,10px 10px;
    } */

    .elevation{
        box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
    }
</style>





<div class="container p-5">
    
    <h1 class="mb-4 text-center">PDI - {{ student.nome }}</h1>
    <div class="d-flex justify-content-center">
 
    <div class ="p-3">
       
    <div class="row">
       
        <div class="d-flex justify-content-center">
      
        <a href="{% url 'add_pdi' student.id %}"> <i class="material-icons" style="font-size: 45px; color: #004A7C">
            add_circle
        </i></a> 
        </div>   
    </div>   
    <h6>Criar novo PDI</h6>
    </div> 
    <div style="width: 24px;"></div>
    <div class ="p-3">
        <div class ="row">
            <div class="d-flex justify-content-center">           
                <a href="{% url 'list_students' %}"> <i class="material-icons" style="font-size: 45px; color: #004A7C">
                    groups
                </i></a> 
        </div>
        <h6 class="text-center">Listar Estudantes</h6>
    </div>
    </div>
    <div class ="p-3">  
    <!-- <a href="{% url 'development_panel' student.id%}" class="btn btn-primary mb-4">Painel de Desenvolvimento</a> -->
    <div class ="row">
        <div class="d-flex justify-content-center">           
            <a href="{% url 'development_panel' student.id %}"> <i class="material-icons" style="font-size: 45px; color: #004A7C">
                insert_chart
            </i></a> 
    </div>
    <h6 class="text-center">Painel de Desenvolvimento</h6>
</div>
    </div>
    </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for pdi in pdi_list %}
        <div class="col">
            <div class="card elevation">
                <a href="{% url 'edit_pdi' pdi.id %}">
                <div class="card-body">     
                    <h5 class="card-title">{{ pdi.titulo }}</h5>
                    <p class="card-text">{{ pdi.descricao }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Data Inicial: {{ pdi.data_inicial }}</li>
                        <li class="list-group-item">Data Final: {{ pdi.data_final }}</li>
                        <li class="list-group-item">Estudante: {{ pdi.estudante }}</li>
                    </ul>
                </div>
            </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

